@use "var" as *;
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

 @mixin border-bottom{       
   border-bottom: 1px solid  $border-color;        
}

 @mixin form-control{       
   padding: 0.8rem 0.8rem !important; 
   border: 1px solid  $border-color;        
   border-radius: $radius-6 !important;
   color: $heading-text-color;
   font-size: 1rem;
   &::placeholder{
        font-size: 1rem;
        color: $heading-text-color;
   }
   &:focus{
     box-shadow: none !important;
     outline: none;
     border: 1px solid  $border-color;        
   }
 
}
@mixin btn-custom{
    padding: 0.8rem 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: $secondary-color;
    border-radius: $radius-15;
    color: $primary-color;
    border: none;
    text-align: center;
    &:hover,
    &:focus,
    &:active,
    &:focus-visible{
        background-color: $primary-color;
        color: $secondary-color;
        box-shadow: none !important;
        outline: none !important;
        svg{
          path{
            stroke: $secondary-color;
          }
        } 
    }
   svg{
     path{
      stroke: $primary-color;
     }
   } 
}
@mixin btn-secondary{
    padding: 0.8rem 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: $paragraph-text-color;
    border-radius: $radius-15;
    color: $primary-color;
    border: none;
    text-align: center;
    &:hover,
    &:focus,
    &:active,
    &:focus-visible{
        background-color: $primary-color;
        color: $secondary-color;
        box-shadow: none !important;
        outline: none !important;
        svg{
          path{
            stroke: $secondary-color;
          }
        } 
    }
   svg{
     path{
      stroke: $primary-color;
     }
   } 
}
@mixin card{
  padding: 2rem;
  border: none;
  border-radius: $radius-15;
  .card-header{
    padding: 0;
    border-bottom: none;
    background-color: transparent;
    .card-title{
      font-weight: $medium;
      color: $heading-text-color;
    }
  }
 
}
@mixin panel{
  padding: 1.5rem 1.25rem;
  border: none;
  border-radius: $radius-15;
  background-color: $white-color;
  max-height: 50rem;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  .panel-header{
    padding: 0;
    margin-bottom: 1.8rem;
    border-bottom: none;
    background-color: transparent;
    .card-title{
      font-weight: $medium;
      color: $heading-text-color;
    }
  }
 
}
@mixin table{
  border:none;
  thead{
    border:none;
    tr{
      th{
        color: $paragraph-text-color;
        font-size: 1rem;    
        border:none;
        font-weight: $medium;  
        &:last-child{
          text-align: right;
        }
      }
    }
  }
  tbody{
    border: none;
    tr{
      border:none;
      td{
        color: $Secondary-heading-text-color;
        font-size: 1rem;      
        font-weight: $medium; 
        border: none; 
        &:last-child{
          text-align: right;
        }
      }
    }

  }
    tfoot{
    border: none;
    border-top: 1px solid $border-color;
    margin-top: 1rem;
    tr{
      border:none;
      td{
        color: $primary-color;
        font-size: 1rem;      
        font-weight: $semibold; 
        border: none; 
        &:last-child{
          text-align: right;
        }
      }
    }

  }
}
// Mixin for inline SVG icon
// @mixin icon($name, $size: 24px, $color: currentColor) {
//   display: inline-block;
//   width: $size;
//   height: $size;
//   fill: $color;

//   // Use mask for coloring flexibility
//   background: $color;
//   -webkit-mask: url('/assets/icons.svg##{$name}') no-repeat center / contain;
//   mask: url('/assets/icons.svg##{$name}') no-repeat center / contain;
// }

// @mixin svg-use($name, $size: 24px) {
//   width: $size;
//   height: $size;

//   // Generate the HTML inline (for preprocessors supporting interpolation)
//   content: '<svg class="icon"><use href="/assets/icons.svg##{$name}"></use></svg>';
// }

// Easy mixin
